@import './base.css';
@import './rainbowBorder.css';
@import './fonts.css';


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(to bottom, #000e27 66%, #112429 100%);
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 92%, 19%, 0.692);
  }
}