@import './base.css';
@import './rainbowBorder.css';
@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000e27;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: underline;
}

.bg-gradient {
  background: linear-gradient(to bottom, #000e27 66%, #112429 100%);
}

.bg-gradient-invert {
  background: linear-gradient(to top, #000e27 66%, #112429 100%);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 92%, 19%, 0.692);
  }
}
