/* Import the font */
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

/* Parent container with gradient background */
.parent-container {
  background: linear-gradient(to bottom, #000e27 66%, #112429 100%);
  position: relative;
  /* Make sure the parent is positioned relative */
  padding: 20px;
  /* Adjust as needed */
}

/* Gradient border container */
.gradient-border {
  background-color: rgb(9, 8, 15);
  position: relative;
  border-radius: 3px;
  padding: 6px;
  z-index: 1;
  /* Ensure it stays above the parent */
}

/* Pseudo-element for the animated gradient border */
.gradient-border:after {
  content: '';
  position: absolute;
  top: -3px;
  /* Adjust based on the padding */
  left: -3px;
  /* Adjust based on the padding */
  height: calc(100% + 6px);
  /* Adjust based on the padding */
  width: calc(100% + 6px);
  /* Adjust based on the padding */
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: 6px;
  z-index: -1;
  /* Ensure it is below the .gradient-border content */
  animation: animatedgradient 8s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
